.header {
    background-image:url("https://i.ibb.co/ThCGy0v/image.png");
    background-color:rgba(255,255,255,0.8);
    background-blend-mode:lighten;
    padding:165px 100px;
    margin:20px 160px;
    color:#000000;
    text-align:center;
}
body{
    background-color:#ffffff;
    text-align: center;
    font-family: YuGothic,'Yu Gothic',sans-serif;
    white-space: nowrap;
}
img {
    max-width:100%; height:auto; 
}
.menu{

    font-family: YuGothic,'Yu Gothic',sans-serif;
}
/*こだわりポイント、キャラクター*/
.hako{
    display:flex;
    justify-content:space-between;
}
.hako img{
    /*width:40%;*/
    /*max-width: 220px;*/
}
.setsumei p{
    width:40%;
    max-width: 220px;
}
.kodawari-point{
    text-align: left;
    margin:20px 100px 20px 100px;
    border-top:5px solid #285943;
}
.kodawari-point img{
    height: 10%;
    margin:0px 100px 0px 50px;
}
.hako2{
    display:flex;
    flex-direction: row-reverse;
    justify-content:space-between;
   /* text-align: right;*/
}
.setsumei2{
    width:40%;
    max-width: 220px;
    /*text-align: right;*/
}
.ComingSoon{
    text-align: right;
    margin:20px 100px 20px 100px;
    border-top:5px solid #285943;
}
.ComingSoon img{
    height: 10%;
    margin:10px 50px 10px 100px;
}
.sagyouhuukei{
    text-align: left;
    margin:50px 100px 20px 100px;
    border-top:5px solid #285943;
}
.sagyouhuukei iframe{
    height: 10%;
    width: 40%;
    margin:40px 100px 10px 50px;
}
.muryouhaihu{
    text-align: right;
    margin:20px 100px 20px 100px;
    border-top:5px solid #285943;
}
.muryouhaihu img{
    height:240px;
    min-width: 220px;
    margin:10px 50px 10px 50px;
    transition: .3s;
}
.muryouhaihu img:hover {
    opacity: 0.5;
}
.kounyuu{
    text-align: left;
    margin:70px 100px 20px 100px;
    border-top:5px solid #285943;
}
.kounyuu img{
    height:10%;
    margin:10px 100px 10px 50px;
}
.footer{
    background-color:#77af9c;
    height: 600px;
    width: 100%;
}
.footer li{
    list-style:none;
    float:left;
    margin:30px;
}
.footer span{
    font-size:20px;
}
/*.header{
    margin:20px;
    background-color:#77af9c;
}
li{
    list-style:none;
    padding:20px 30px 20px 30px;
    color:#285943;
}
ul{
    display:flex;
}*/
